.opcolor .chosen-results .chosen-opcolor {
	display:block;
	float:left;
	margin: 0 5px 5px 0;
	cursor: pointer;
}
.opcolor .chosen-container .chosen-results li {
	padding: 4px 8px
}
.opcolor .chosen-results .chosen-opcolor:hover {
	background-color: #888;
}
.opcolor .chosen-results .chosen-oppreview {
	background-color: #004898;
	color: white;
	display: block;
	height: 55px;
	padding: 11px;
	width: 59px;
	border: 1px solid gray;
}
.opcolor .chosen-results .chosen-oppreview span {
	display: inline;
	white-space: pre-line;
	word-wrap: normal;
}
.opcolor .chosen-results .textColors {
	font-weight: normal;
}
.opcolor .chosen-container .chosen-drop {
	width: 100%;
}
.opcolor li {

}
.opcolor.field .chosen-container {
    max-width: 512px;
}